services:
  postgres:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql
    environment: # ADOTAR MELHOR PRATICA, CONSIDERAR CASO EC2 ou LOCAL
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    networks:
      - mynetwork
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgresql://user:password@postgres/mydatabase
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - mynetwork
  # frontend:

networks:
  mynetwork:

volumes:
  postgres_data: